MYSQL_DATABASE=tech_feed_hub
MYSQL_USER=app_user
MYSQL_PASSWORD=app_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306
RABBITMQ_USER=app_user
RABBITMQ_PASSWORD=app_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ARTICLE_SERVICE_PORT=8081
API_GATEWAY_PORT=8080
COLLECTOR_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083
FRONTEND_PORT=5173

RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
ARTICLE_SERVICE_BASE_URL=http://article-service:8081
NOTIFICATION_SERVICE_BASE_URL=http://notification-service:8083
ARTICLE_SERVICE_PUBLIC_URL=http://localhost:8081
API_GATEWAY_BASE_URL=http://api-gateway:8080
VITE_API_BASE_URL=/
VITE_PROXY_TARGET=http://localhost:8080
